.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48702679d4914ecc51be_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 233px}
.u-section-1 .u-text-1 {margin: 55px auto 0}
.u-section-1 .u-text-2 {width: 625px; margin: 13px auto 0}
.u-section-1 .u-layout-wrap-1 {margin: 16px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 693px}
.u-section-1 .u-container-layout-1 {padding: 30px 25px 30px 30px}
.u-section-1 .u-text-3 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-1 .u-text-4 {font-size: 1.0625rem; margin: 0}
.u-section-1 .u-layout-cell-2 {min-height: 288px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 2rem; background-image: none; font-weight: 700; margin: 0 auto; padding: 86px 68px 87px 66px}
.u-section-1 .u-layout-cell-3 {min-height: 288px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-btn-2 {border-style: solid; font-size: 2rem; background-image: none; font-weight: 700; margin: 0 auto; padding: 86px 53px 87px 51px}
.u-section-1 .u-layout-cell-4 {min-height: 405px}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-btn-3 {border-style: solid; font-size: 2rem; background-image: none; font-weight: 700; margin: 0 auto; padding: 86px 23px 86px 21px}
.u-section-1 .u-layout-cell-5 {min-height: 405px}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-btn-4 {border-style: solid; font-size: 2rem; background-image: none; font-weight: 700; margin: 0 auto; padding: 35px 21px} 

@media (max-width: 1199px){ .u-section-1 {background-size: 120%}
.u-section-1 .u-sheet-1 {min-height: 122px}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 503px; background-position: 50% 50%}
.u-section-1 .u-layout-cell-2 {min-height: 237px}
.u-section-1 .u-btn-1 {width: 175px; height: 238px}
.u-section-1 .u-layout-cell-3 {min-height: 237px}
.u-section-1 .u-layout-cell-4 {min-height: 334px}
.u-section-1 .u-layout-cell-5 {min-height: 334px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 804px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-layout-cell-5 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1692px}
.u-section-1 .u-text-2 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-text-2 {width: 340px} }