.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48702679d4914ecc51be_1280.jpg"); background-position: 50% 50%; background-size: 120%; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 233px}
.u-section-1 .u-text-1 {margin: 49px auto 0}
.u-section-1 .u-text-2 {margin: 24px auto 49px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 192px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 147px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 110px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 91px}
.u-section-2 .u-text-1 {margin: 20px 0}.u-section-3 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 529px}
.u-section-3 .u-text-1 {font-weight: normal; font-size: 1.875rem; text-decoration: underline !important; margin: 33px 870px 0 0}
.u-section-3 .u-text-2 {margin: 14px 0 0}
.u-section-3 .u-text-3 {font-weight: 700; margin: 20px 0 60px} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-right: 670px}
.u-section-3 .u-text-3 {width: 1044px; height: 204px} }

@media (max-width: 991px){ .u-section-3 .u-text-1 {margin-right: 450px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {margin-right: 270px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {margin-right: 70px; font-size: 1.25rem} }.u-section-4 .u-sheet-1 {min-height: 702px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-4 .u-text-2 {margin: 20px 0 0}
.u-section-4 .u-text-3 {font-weight: 700; margin: 0 57px 10px 0} 

@media (max-width: 1199px){ .u-section-4 .u-text-3 {margin-right: 0} }.u-section-5 .u-sheet-1 {min-height: 702px}
.u-section-5 .u-text-1 {margin: 20px 0 0}
.u-section-5 .u-text-2 {margin: 20px 0 0}
.u-section-5 .u-text-3 {font-weight: 700; margin: 0}
.u-section-5 .u-text-4 {margin: -6px 0 0}
.u-section-5 .u-text-5 {margin: 20px 0 0}
.u-section-5 .u-text-6 {font-weight: 700; margin: 0 auto 0 0}
.u-section-5 .u-text-7 {margin: 0 auto 0 0}
.u-section-5 .u-text-8 {width: 130px; margin: 20px auto 0 0}
.u-section-5 .u-text-9 {font-weight: 700; margin: 0 802px 0 0}
.u-section-5 .u-text-10 {width: 1140px; margin: 0 auto 0 0}
.u-section-5 .u-text-11 {width: 130px; margin: 20px 1010px 0 0}
.u-section-5 .u-text-12 {font-weight: 700; margin: 0 540px 0 0}
.u-section-5 .u-text-13 {width: 1140px; margin: 0 auto 0 0}
.u-section-5 .u-text-14 {width: 130px; margin: 20px auto 0 0}
.u-section-5 .u-text-15 {font-weight: 700; margin: 0 292px 0 0}
.u-section-5 .u-text-16 {margin: 0 auto 0 0}
.u-section-5 .u-text-17 {margin: 19px auto 0 0}
.u-section-5 .u-text-18 {font-weight: 700; margin: 0 244px 0 0}
.u-section-5 .u-text-19 {margin: 0 0 60px} 

@media (max-width: 1199px){ .u-section-5 .u-text-8 {height: 24px}
.u-section-5 .u-text-9 {width: 289px; height: 26px; margin-right: 602px}
.u-section-5 .u-text-10 {height: 204px}
.u-section-5 .u-text-11 {margin-right: 810px}
.u-section-5 .u-text-12 {margin-right: 340px}
.u-section-5 .u-text-14 {height: 24px}
.u-section-5 .u-text-15 {width: 601px; height: 357px; margin-right: 92px}
.u-section-5 .u-text-18 {margin-right: 44px} }

@media (max-width: 991px){ .u-section-5 .u-text-9 {margin-right: 431px}
.u-section-5 .u-text-11 {margin-right: 590px}
.u-section-5 .u-text-12 {margin-right: 120px}
.u-section-5 .u-text-18 {margin-right: 0} }

@media (max-width: 767px){ .u-section-5 .u-text-9 {margin-right: 251px}
.u-section-5 .u-text-11 {margin-right: 410px}
.u-section-5 .u-text-12 {margin-right: 0}
.u-section-5 .u-text-15 {width: 540px; margin-right: 0} }

@media (max-width: 575px){ .u-section-5 .u-text-9 {margin-right: 51px}
.u-section-5 .u-text-11 {margin-right: 210px}
.u-section-5 .u-text-15 {width: 340px} }.u-section-6 .u-sheet-1 {min-height: 278px}
.u-section-6 .u-text-1 {margin: 20px 0 0}
.u-section-6 .u-text-2 {margin: 20px 0}.u-section-7 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-7 .u-sheet-1 {min-height: 529px}
.u-section-7 .u-text-1 {font-weight: normal; font-size: 1.875rem; text-decoration: underline !important; margin: 33px 728px 0 0}
.u-section-7 .u-text-2 {margin: 14px auto 0 0}
.u-section-7 .u-text-3 {font-weight: 700; margin: 20px 0 60px} 

@media (max-width: 1199px){ .u-section-7 .u-text-1 {margin-right: 528px}
.u-section-7 .u-text-3 {width: 1044px; height: 204px} }

@media (max-width: 991px){ .u-section-7 .u-text-1 {margin-right: 308px} }

@media (max-width: 767px){ .u-section-7 .u-text-1 {margin-right: 128px} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {margin-right: 0; font-size: 1.25rem} }.u-section-8 .u-sheet-1 {min-height: 457px}
.u-section-8 .u-text-1 {margin: 24px 0 0}
.u-section-8 .u-text-2 {margin: 20px 0 0}
.u-section-8 .u-text-3 {font-weight: 700; margin: 9px auto 0}
.u-section-8 .u-text-4 {margin: 9px 0 0}
.u-section-8 .u-text-5 {font-weight: 700; width: 780px; margin: 0 auto 24px} 

@media (max-width: 991px){ .u-section-8 .u-text-5 {width: 720px} }

@media (max-width: 767px){ .u-section-8 .u-text-5 {width: 540px} }

@media (max-width: 575px){ .u-section-8 .u-text-5 {width: 340px} }